<!DOCTYPE html>
<html>

    <head>
            <meta charset="utf-8">

            <title>Busqueda por codigo | MBB </title>

    </head>

    <body> 

        <!--Boton BUSQUEDA POR CODIGO-->

                <input type="checkbox" id="boton2"> </input>
                <label for="boton2"> BÚSQUEDA POR RUBRO, CÓDIGO O PALABRA CLAVE </label>
                <div class="segundo_boton">  

                    <div class="box"> <!--Caja de busqueda-->

                        <form action="/buscar/" method="GET"> <!--Realiza consulta-->

                            <span class="icon"><i class="fa fa-search"></i></span>

                                <input type="search" id="search" placeholder="" name="buscar"/> 

                                    <button class="boton_buscar" type="submit"> BUSCAR <i class="fa fa-search"></i></button> <!--Boton BUSCAR-->

                    </div>

                </div>

    </body> 
</html>